.heroContainer {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 4rem;
  left: 0;
  padding: 0 .7rem;
  z-index: -1;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.heroMovil {
  display: none;
}

@media (max-width: 750px) {
  .heroMovil {
    display: block;
  }

  .heroDesktop {
    display: none;
  }
}