.headerContainer {
  width: 100%;
  height: 5rem;
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navRight {
  display: flex;
}

.navItem {
  display: flex;
}